@import "../theme/colors";
@import "../theme/dimensions";

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

$backgroundBar: #2f3136;

body {
  background-color: #36393f !important;
  margin: 0px;
  padding: 0px;
}

header {
  height: 70px;
  min-height: 50px;

  color: white;
  background-color: $backgroundBar;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  font-family: "Russo One", sans-serif;
  font-size: 2em;

  padding-left: 15px;
  margin-bottom: 15px;

  img {
    width: 30px;
    margin-right: 10px;
    animation: breathing 20s ease-out infinite normal;
  }
}

footer {
  position: fixed;
  bottom: 0px;

  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $backgroundBar;
  border-top: 1px solid #232323;

  font-size: 1.1em;

  a {
    color: white;
  }
  a:hover {
    color: #888888;
  }
}

.home {
  display: flex;
  flex-flow: row wrap;
  width: calc((500px) * 2 + 10px);

  & > div:nth-child(2n) {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .home {
    width: 100%;
    align-items: center;
    flex-direction: column;

    & > div:nth-child(2n) {
      margin-left: 0px;
    }
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  55% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
