@import "../theme/colors";
@import "../theme/dimensions";

$border-radius: 10px;

.post {
  display: flex;
  flex-direction: column;

  background-color: #292b2f;
  color: white;

  width: $post-width-large;
  min-height: 130px;

  margin-bottom: 10px;

  border-radius: $border-radius;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  .bar {
    position: relative;
    height: 18px;
    line-height: 0;

    padding-left: 5px;
    padding-top: 5px;

    background-color: #1b1d20;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    .dots {
        position: absolute;
        right: 7px;
    }

    .close {
        background-color: #e74c3c !important;
    }

    .expand {
        background-color: #e67e22;
    }

    .minimize {
        background-color: $primary;
    }

    .dot {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 2px;
      }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 10px;

    .title {
      font-size: 1.2em;
      flex-grow: 1;
      font-family: Hack, monospace;
    }

    .author {
      font-style: italic;
      font-size: 0.95em;

      color: #dfdfdf;
    }
  }
}
.post:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 600px) {
  .post {
    width: $post-width-medium;
  }
}

@media screen and (max-width: 420px) {
  .post {
    width: $post-width-small;
  }
}

@media screen and (max-width: 380px) {
  .post {
    width: 100%;
  }
}

